name: workflow
on: [push]
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: dart format --set-exit-if-changed lib/

  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: echo "var token = '${{secrets.TOKEN_TYPE}}';" > ./lib/token.dart
      - run: echo "var url = '${{secrets.TOKEN}}';" >> ./lib/token.dart
      - run: flutter pub get
      - run: flutter analyze --no-fatal-infos

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: echo "var token = '${{secrets.TOKEN_TYPE}}';" > ./lib/token.dart
      - run: echo "var url = '${{secrets.TOKEN}}';" >> ./lib/token.dart
      - run: flutter pub get
      - run: flutter test